---
page_title: "DX Provider"
subcategory: ""
description: |-
  Manage DX Service Cloud resources through Terraform.
---

# DX Provider

Interact with the DX Web API and declaratively manage Service Cloud resources.

## Example Usage

{{tffile "examples/resources/scorecard_example.tf"}}

{{ .SchemaMarkdown | trimspace }}
